<?xml version="1.0" encoding="utf-8"?>
<manifest package="gpovallas.app"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="13"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:largestWidthLimitDp="1200"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="1024"
        android:smallScreens="true"/>

    <application
        android:name=".GPOVallasApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/eFinanzasWebTheme">
        <uses-library android:name="com.google.android.maps"/>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ControlPanelActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".UpdateDataActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".clientes.ClientFinderActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".clientes.ClientDetailTabsActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".clientes.ClientTabDetailsContactosActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".briefs.BriefFinderActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".briefs.BriefDetailActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAH_uRSsVprxRrR6LkKYFBbSgHhyBXW_7w"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".clientes.ClientTabDetailsAccionesActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".medios.MeanTabsActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".medios.MeanTabListadosDetailTabActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".medios.MeanGaleriaZoomActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>

        <receiver
            android:name="gpovallas.services.receivers.StartReceiver"
            android:enabled="true"
            android:exported="true"/>
        <receiver
            android:name="gpovallas.services.receivers.SchedulerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="gpovallas.services.CronTask"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>